.ui-dialog .ui-dialog-titlebar
    {
    padding: 0 10px;
    }

.no-close .ui-dialog-titlebar-close
    {
    display: none;
    }

.ui-slider
    {
    width: 200px;
    display: inline-block;
    }


.sliderContainer
    {
    margin: 10px;
    }

.sliderContainer > *
    {
    margin: 0 10px;
    }
